libreoffice
Slack
JetBrains

# all chromium settings (rather big)
chromium/    
# coc-nvim releated runtime files
coc/        
# gnome settings database
dconf/      

# python releated
.ptpython/history
__pycache__/

# plugin bundle dir of tpm
tmux/plugins/bundle/

# tags
tags

# osx
.DS_Store

# Thunar
Thunar/accels.scm


yarn/
htop/
pamac/
pulse/
hub
Mousepad/

# I'm using autostart.sh instead
autostart/
